:root {
  --primary-text-color: #212121;
  --description-text-color: #757575;
  --accent-color: #2196f3;
  --white-text-color: #fff;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --bg-button-color: #f5f4fa;
  --gallery-list-gap: 30px;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-bottom: 0;
  margin-top: 0;
}

img {
  display: block;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Лого */

.logo {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-style {
  color: var(--accent-color);
}

/* Шапка сайта */
.header {
  border-bottom: 1px solid #ececec;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}

.container.nav {
  /* display: flex;
  align-items: center; */
  border-bottom: 1px solid #ececec;
}

.site-nav {
  display: flex;
  margin-left: 92px;
}

/* 
.site-nav .item:not(:last-child) {
  margin-right: 50px;
} */

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.main-nav,
.header-nav {
  display: flex;
  align-items: center;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-list .item + .item {
  margin-left: 50px;
}

.contacts-list .contacts {
  color: var(--description-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts-list .contacts:hover,
.contacts-list .contacts:focus {
  color: var(--accent-color);
}

/* Стили файла index.html */
/* Герой */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--secondary-bg-color);
  text-align: center;
}

.hero .hero-title {
  max-width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  color: var(--primary-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
  color: var(--white-text-color);
}

/* Наши преимущества */

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.benefits-section,
.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits-section .benefits-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits-section .benefits-description {
  color: var(--description-text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.benefits-list {
  display: flex;
}

.list-item {
  width: calc((100% -90px) / 4);
  margin-right: 30px;
}

.list-item:last-child {
  margin-right: 0;
}

/* Чем мы занимаемся*/

.services-section {
  padding-bottom: 94px;
}

.services-list {
  display: flex;
}

.list-item-services:not(:last-child) {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
}

/* Наша команда */

.team-section {
  background-color: #f5f4fa;
}
.team-list {
  display: flex;
}

.services-list .list-item {
}

.team-list .team-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list .team-description {
  color: var(--description-text-color);
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-member-info {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.list-item img {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

/* Футер */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bg-color);
}

.logo-white {
  color: var(--white-text-color);
}

.logo.secondary {
  display: inline-block;
  margin-bottom: 20px;
}

.address .address-text {
  display: inline-block;
  margin-bottom: 9px;
  color: var(--white-text-color);
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address .address-item {
  display: inline-block;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.address-item:last-child {
  margin-bottom: 0;
}

.address .address-item:hover,
.address .address-item:focus {
  color: var(--accent-color);
}

.address {
  max-width: 231px;
}

/*Стили файла portfolio.html */
/* Портфолио наших раобот */

.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.buttons-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.buttons-item:not(:last-child) {
  margin-right: 8px;
}

.buttons-list .portfolio-button {
  display: block;
  padding: 6px 22px;
  background-color: var(--bg-button-color);
  color: var(--primary-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.buttons-list .portfolio-button:hover,
.buttons-list .portfolio-button:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery-list .gallery-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
}

.gallery-list .gallery-description {
  margin-top: 4px;
  color: var(--description-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.gallery-link {
  display: inline-block;
  text-decoration: none;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  flex-basis: calc(100% / 3 - var(--gallery-list-gap));
  margin-right: var(--gallery-list-gap);
  margin-bottom: var(--gallery-list-gap);
}

.gallery-item:nth-child(3n) {
  margin-right: 0;
}

.gallery-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.card-content {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
